/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
watcher.rb
/sample/public/20*
/sample/public/page[0-9]*
/sample/public/tag
/sample/public/atom.xml
/sample/public/index.html
/sample/public/archives.html
