/* =basic */
body, h1, h2, h3, h4, p { margin: 0; padding: 0; }
body, p {
    font-family: 'Josefin Sans', sans-serif; 
    /* font-family: 'Hiragino Kaku Gothic ProN', Meiryo, 'VL ゴシック', 'MS PGothic', Sans-serif; */
    line-height: 1.6em;
}

a { color: #4ea5e1; }
a:hover { opacity: 0.5; }

li {
    margin: 0.5em;
}
blockquote { color: #888; font-style: italic; }
blockquote p:before { content: '> '; }

.right { float: right; }

.global-header {
    border-top: 4px #FF6699 solid;
}
.global-footer {
    border-top: 1px solid;
    border-color: rgba(0,39,59,.08);
    background-color: #FFEDF0;
}

/* =header */
.site-header h1 a {
    display: block;
    font-size: 0;
    text-indent:200%;
    background: transparent url(../img/zarudama-logo.png) no-repeat top left;
    width: 444px;
    height: 80px;
}
.site-header p {
    margin: 0.5em;
    font-size: 90%;
}

h1 + p {
    margin-top: 1em;
    color: #666;
    font-size: 20px;
}

h2 a { color: #000; text-decoration: none; }

/* =footer */
.misaki-logo p { text-align: right; }
.misaki-logo {
    border-top: 1px solid;
    border-color: rgba(0,39,59,.08);
    margin: 1em;
    padding: 1em;
}

/* column style */
.column { overflow: hidden; }
.column > div { float: left; }
.column .w50per { width: 49%; }

h2 { margin: 1em 0 0.5em; color: #444; font-weight: normal; font-size: 2.0em; }
h2:first-letter { color: HotPink; font-weight: bold; }

h3 { margin: 1em 0 0.5em; color: #444; font-weight: normal; font-size: 1.5em; }
h3:first-letter { color: HotPink; font-weight: bold; }

/* =container */
.container { width: 940px; margin: 1em auto; }


/* =footer(last paragraph) */
hr { border: 1px solid #fff; }

hr + p {
    margin-top: 1em;
    text-align: right;
}

/* article header style */
.article-header {
    margin: 1em 0 1em 0;
}
.article-header h1 {
    padding: 0 0 0.5em 0;
    margin: 0;
    font-size: 2em;
    color: #444;
    font-weight: normal;
    border-bottom: 1px solid #eaeaea; 
/*    float:left; */
    line-height: 1.2em;
}
/* .article-header p.date { margin: 20px 10px 0 30px; font-weight: bold; letter-spacing: 1px; color: #444; } */
.article-header .date {
    text-align:right;
    padding: 0;
    margin: 0;
/*    float: right; */
}
.article-header h1 a {
    text-decoration: none;
    color: #444;
}

/* tag style */
.tag {
    margin-top: 2em;
    border-top: 1px solid #eaeaea;
}
.tag ul { margin: 10px 0 0 30px; padding: 0; list-style: none;  }
.tag ul li { display: inline; margin-right: 10px; }
.tag ul li a {
    padding: 0.2em 0.5em;
    border: 2px solid #fef263;
    border-radius: 5px;
    color: #444;
    text-decoration: none;
}
.tag ul li a:hover { opacity: 0.5; }

.pager {
    box-shadow: 0 0 5px #fde3e3;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #eebbcb;
    background: #fbeff3;
}
.pager:before, .pager:after {
    display: table;
    content: "";
    line-height: 0;
}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}
.pager .prev a {
    float: left;
}
.pager .next a {
    float: right;
}

/* org-mode */
.content {
    clear: both;
}
.content p {
    margin: 1.0em 0 1.0em 0;
}
code, pre {
    margin: 1em;
    padding: 0.5em;
    /*padding: 0 3px 2px;*/
    font-family: "Ubuntu Mono", Menlo, Monaco, Consolas, "Courier New";
    font-size: 16px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
    font-size: 90%;
    margin: 0.2em;
    padding: 0.2em;
}
pre {
    display: block;
    font-size: 17px;
    line-height: 24.923076923076923px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*
pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
}*/
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}

.content pre.src,
.content pre.example,
.content .modal-body > pre {
    resize: both;
    overflow: auto;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid #eeeeee;
    background: #2e3436;
    color: #eeeeec;
}
.content pre.src span.linenr,
.content pre.example span.linenr,
.content .modal-body > pre span.linenr {
    font-style: italic;
    font-weight: bold;
}
.content pre.src span.code-highlighted,
.content pre.example span.code-highlighted,
.content .modal-body > pre span.code-highlighted {
    background: darkolivegreen;
}

.figure {
    text-align: left;
    margin: 1em;
}
.figure p {
    font-size: 0.8em;
}
.figure img {
    border-width: 0px;
    box-shadow: 2px 2px 10px #000;
}
#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

.builtin {
  /* font-lock-builtin-face */
  color: #da70d6;
}
.comment {
  /* font-lock-comment-face */
  color: #b22222;
}
.comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #b22222;
}
.constant {
  /* font-lock-constant-face */
  color: #5f9ea0;
}
.function-name {
  /* font-lock-function-name-face */
  color: #0000ff;
}
.keyword {
  /* font-lock-keyword-face */
  color: #a020f0;
}
.string {
  /* font-lock-string-face */
  color: #aaa;
}
.doc {
  /* font-lock-doc-face */
  color: #8b2252;
}
.type {
  /* font-lock-type-face */
  color: #228b22;
}
.variable-name {
  /* font-lock-variable-name-face */
  color: #b8860b;
}
.warning {
  /* font-lock-warning-face */
  color: #ff0000;
  font-weight: bold;
}

