; @layout layout
; @title  misaki orgmode
; @orgmode? false
<br/>
<p>
  misaki-orgmode is one of <a href="https://github.com/liquidz/misaki">Misaki</a>'s compiler plugin.</p>
<p>
  This compiler allows you to use <a href="http://orgmode.org">Org mode</a> and <a href="https://github.com/liquidz/cuma">cuma templates</a> instead of S-exp templates.
</p>

<h2>Table of contents</h2>
<ul>
  @(for all-posts)
  <li><a href="$(url)">$(title)</a></li>
  @(end)
</ul>

<h2>Pagination sample</h2>
<ul>
  @(for posts)
  <li><a href="$(url)">$(date-format date "yyyy MMM dd") - $(title)</a></li>
  @(end)
</ul>
@(if prev-page)
<a href="$(prev-page)">&laquo; Newer posts</a>
@(end)
@(if next-page)
<a href="$(next-page)">Older posts &raquo;</a>
@(end)

<h2>Tags sample</h2>
<ul>
  @(for all-tags)
  <li><a href="$(url)">$(name)($(count))</a></li>
  @(end)
</ul>
<h2>Recent Posts sample</h2>
<ul>
  @(for recent-posts)
  <li><a href="$(url)">$(title)</a></li>
  @(end)
</ul>

<h2>Links</h2>
<ul>
  <li><a href="$(root)archives.html">Archives</a></li>
</ul>

<h2>Search</h2>
<form action="http://google.com/search" method="get">
  <input type="hidden" name="q" value="site:$(your-domain)">
  <input class="search" type="text" name="q" results="0" placeholder="Search">
</form>
